.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.inline {
  display: inline-flex;
  align-items: end;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: max-content;
}

ruby.under {
  ruby-position: under;

  rt {
    text-align: center;
  }
}

.highlight {
  background-color: var(--gray-background);
}

.clickable {
  cursor: pointer;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-touch-callout: default;
  -webkit-touch-select: text;
  touch-action: manipulation;
}

.draggable {
  cursor: grab;
}

.border {
  border: 0.1em solid var(--border-color);
  border-radius: 0.5em;
}

.operator {
  font-family: "Noto Sans Math";
}

.char {
  font-family: var(--char-font-family);
}

// .markdown-wrapper .char {
//   &:not(ruby .char, .phrase .char) {
//     text-decoration: underline;
//     text-decoration-style: dotted;
//     text-underline-offset: 0.2em;
//     text-decoration-thickness: 1px;
//   }
// }

.pinyin {
  font-family: "Pinyin", sans-serif;
  line-height: 1;
  /* color: var(--light-black); */
}

.ipa {
  font-family: "Charis SIL", serif;
  font-size: 1.05em;
  line-height: 1;
  /* color: var(--light-black); */
}

.ipa-sans {
  font-family: "DejaVu Sans", sans-serif;
}

.playing {
  color: var(--colescu) !important;
}

.gray,
.gray span {
  color: var(--gray-text);
}
