:root {
  --colescu: #008778;
  --colescu-light: #6cb4b1;
  --colescu-dark: #006f66;

  /* hard to configure in Naive UI */
  --background-color: #fff;
  --text-color: #333639;
  --border-color: #ccc;

  --gray-background: #f0f0f0;
  --gray-text: #9299a5;

  --light-black: rgba(0, 0, 0, 0.7);

  --char-font-family: "Noto Sans SC", "Noto Sans TC", "Plangothic", sans-serif;
}
